html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}


.main {
  position: relative;
}

.main video {
  width: 100%;
}

.main .content {
  position: absolute;
  top: 200px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.main h1 {
  font-size: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.content h1{
    color:white;
}
.btn{
    color: white;
    text-decoration: none;
    background-color: #4386fc;
    font-size: 18px;
    padding: 16px 26px;;
    border-radius: 0px;
}


.supporting {
  margin-top: 100px;
  margin-bottom: 130px;
  text-align: center;
}

.supporting h2 {
  font-size: 48px;
  font-weight: 300;
}

.supporting p {
  color: #333;
  font-size: 21px;
  font-weight: 300;
  padding: 0 30px;
}

.feature {
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/excursion/camp.png");
  background-size: cover;
}

.footer {
  padding: 30px;
  background-color: #eee;
  font-size: 11px;
}

@media (max-width: 960px) { 
  .video-section { 
    height: 540px; 
  } 
  .video-section video { 
    height: 540px; 
    width: 960px;
  } 

  .video-section h1 { 
    font-size: 32px;
  }
}

